{% extends 'base.html' %}


    {% block title %} "Scrumptious Recipes" {% endblock title %}
    {% block content %}
        <header>
            <nav>
                <a href="{% url 'recipes' %}">Main page</a>
                <a href="{% url 'create_recipe' %}">Create A Recipe</a>
            </nav>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </main>
    {% endblock content %}
