{% extends 'base.html' %}


    {% block title %} "Scrumptious Recipes" {% endblock title %}
    {% block content %}
        <header>
            <nav>
                <a href="{% url 'recipes' %}">Main Page</a>
                {% if user.is_authenticated %}
                Hello, {{ user.username }} &nbsp;&nbsp;
                <a href="{% url 'create_recipe' %}">Create A Recipe</a>
                <a href="{% url 'my_recipe_list' %}">View My Recipes</a>
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'user_login' %}">Login</a>
                {% endif %}

            </nav>
        </header>
        <main>
            <h1> Scrumptious Recipes</h1>
            <h2>All the food that's fit to eat</h2>
            <div class="grid">
                {% for recipe in recipe_list %}
            <div>
                <h3> <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>

                <p>{{ recipe.created_on|date:"F j, Y" }}</p>
                <img src="{{ recipe.picture }}">
                <div>4.3 Stars</div>
            </div>
            {% empty %}
            <p>There are no recipes</p>
            {% endfor %}
            </div>
        </main>
        {% endblock content %}
