

body {
    margin: 0;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px;
    background-color: #0092a8;
    color: whitesmoke;
}

@keyframes slidein {
    0%      {background-color: rgb(240, 136, 240); left:0px; top:0px;}
    25%     {background-color: rgb(136, 240, 235); left:200px; top:0px;}
    50%     {background-color: rgb(149, 135, 212); left:200px; top:200px;}
    75%     {background-color: rgb(238, 228, 96); left:0px; top:200px;}
    100%    {background-color: rgb(248, 58, 248); left:0px; top:0px;}
}
img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black; padding: 16px;
    background-color: #F2D5BB;
}

a {
    color: black;
    margin-right: 20px
}

h1 {
    background-color: #b0d9f2;
    color: rgb(69, 102, 247);
    text-shadow: 2px 2px 4px pink;
}

h2 {
    background-color: #ebe595;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    box-shadow: 60px -16px teal;
    animation-name: slidein;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: 100%;
}


a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: aquamarine;
}

.gray-lines tr:nth-child(even) {
    background-color: lightgrey
}

a:hover {
    color: purple
}
